<!DOCTYPE html>
<html>
<head>
  <title>New Chat</title>
</head>
<body>
  <h1>Create New Chat</h1>

  <form method="POST" action="/chats">
    <input type="text" name="from" placeholder="From">
    <br><br>

    <input type="text" name="to" placeholder="To">
    <br><br>

    <textarea name="message" placeholder="Write message"></textarea>
    <br><br>

    <button type="submit">Create Chat</button>
  </form>

  <br>
  <a href="/chats">Back to Chats</a>
</body>
</html>