<!DOCTYPE html>
<html>
<head>
  <title>Edit Post</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Edit Post</h1>

  <h3>@<%= post.username %></h3>

  <form method="POST" action="/posts/<%= post.id %>?_method=PATCH">
    <textarea name="content"><%= post.content %></textarea>
    <br><br>

    <button type="submit">Update Post</button>
  </form>

  <br>
  <a href="/posts">Back to all posts</a>
</body>
</html>