<!DOCTYPE html>
<html>
<head>
  <title>Edit User</title>
</head>
<body>
  <h1>Edit User</h1>

  <form method="POST" action="/users/<%= user.id %>?_method=PATCH">
    <input type="text" name="username" value="<%= user.username %>">
    <br><br>

    <input type="password" name="password" placeholder="Enter password to confirm">
    <br><br>

    <button type="submit">Update Username</button>
  </form>

  <br>
  <a href="/users">Back to Users</a>
</body>
</html>