<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
  <h1>Add New User</h1>

  <form method="POST" action="/users">
    <input type="text" name="username" placeholder="Username">
    <br><br>

    <input type="email" name="email" placeholder="Email">
    <br><br>

    <input type="password" name="password" placeholder="Password">
    <br><br>

    <button type="submit">Add User</button>
  </form>

  <br>
  <a href="/users">Back to Users</a>
</body>
</html>