<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Detials</title>
</head>
<body>
  <h1>All Users</h1>

  <a href="/">Home</a>
  <br>
  <a href="/users/new">Add New User</a>
  <% for( let user of users ) { %>
    <div>
        <h3><%= user.username %></h3>
        <p>Email : <%= user.email  %></p>
        <a href="/users/<%= user.id %>">Show User</a>
        <a href="/users/<%= user.id %>/edit">Edit User</a>
    </div>
  <% } %>
</body>
</html>